html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

body {
  width: 500px;
  height: auto;
  border: 4px solid #8956EF;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title {
  width: 95%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 2px solid #8956EF;
}

#title img {
  width: 35%;
  height: auto;
  margin-bottom: 5px;
}

#links {
  width: 95%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#links #links-box {
  margin-top: 2px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#links #links-box a {
  color: #8956EF;
  text-decoration: none;
  font-size: 1rem;
}

#links #links-box a:hover {
  text-decoration: underline;
}

#information {
  width: 95%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#information .info-text {
  margin-top: 2px;
  margin-bottom: 0px;
  width: 95%;
  background-color: #eb001086;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

#evenement {
  width: 95%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#evenement .event-text {
  margin-top: 2px;
  margin-bottom: 0px;
  background-color: rgba(0, 255, 55, 0.527);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

#contact {
  width: 90%;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 2px solid #8956EF;
  border-radius: 5px;
}

#contact legend {
  font-size: 1rem;
}

#contact #contact-box {
  margin-top: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#contact #contact-box a {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  text-decoration: none;
}

#reseaux {
  width: 50%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reseaux a {
  width: 10%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#reseaux a img {
  width: 100%;
}

footer {
  width: 95%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-us {
  width: 90%;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 2px solid #8956EF;
}

#about-us legend {
  font-size: 1rem;
}

#devweb {
  width: 90%;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 2px solid #8956EF;
}

#devweb legend {
  font-size: 1rem;
}

#bande {
  width: 95%;
  height: 48px;
  background-color: #8956EF;
  margin-top: 15px;
  border-radius: 5px;
}

#english {
  width: 95%;
  height: 250px;
  border-radius: 5px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #8956EF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1vh;
}

#english p {
  font-weight: 700;
}

#english span {
  font-weight: 500;
}

#english #illustration {
  width: 45%;
  height: 100%;
  position: relative;
  margin-right: 1vh;
}

#english #illustration #engTitle {
  background-color: black;
  color: white;
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#english #illustration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#english #block {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#english #block #wordName {
  border-bottom: 1px solid #000;
  padding: 10px 0;
  width: 100%;
}

#english #block button {
  width: auto;
  background-color: transparent;
  border: 1px solid #000;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 2vh;
  margin-bottom: 2vh;
  padding: 1vh;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */